<h3><%= "#{ t('.title') } #{ @deck.title }" %></h3>
<% @cards.each_slice(4) do |cards_row| %>
  <div class="row mb-2">
    <% cards_row.each do |card| %>
      <div class="col">
        <div class="card">
          <h5 class="card-header">
            <%= card.original_text %>
          </h5>
          <div class="card-body">
            <%= card.translated_text %>
            <p>
              <%= l(card.review_date, format: :short) %>
            </p>
          </div>
          <div class="card-footer text-muted">
            <%= link_to t('forms.open'), card_path(card) %>
            <%= link_to t('forms.edit'), edit_card_path(card) %>
            <%= link_to t('forms.destroy'), card_path(card),
              method: :delete,
              data: { confirm: t('forms.sure') } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<%= link_to t('.create'), new_deck_card_path(@deck) %><br>
<%= link_to t('.to_deck_list'), decks_path(@deck) %>
