<p id="notice"><%= notice %></p>

<h1>Юзеры</h1>

<table class="table">
  <thead>
    <tr>
      <th>Мыло</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to 'Детали', user %></td>
        <td><%= link_to 'Изменить', edit_user_path(user) %></td>
        <td><%= link_to 'Удалить', user, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый юзер', new_user_path %>
