<h3>Все карточки из колоды <%= @deck.title %></h3>
<% @cards.each_slice(4) do |cards_row| %>
  <div class="row mb-2">
    <% cards_row.each do |card| %>
      <div class="col">
        <div class="card">
          <h5 class="card-header">
            <%= card.original_text %>
          </h5>
          <div class="card-body">
            <%= card.translated_text %>
            <p>
              <%= card.review_date.strftime("%d/%m/%Y") %>
            </p>
          </div>
          <div class="card-footer text-muted">
            <%= link_to 'Открыть', card_path(card) %>
            <%= link_to 'Изменить', edit_card_path(card) %>
            <%= link_to 'Удалить', card_path(card),
              method: :delete,
              data: { confirm: 'Вы уверены?' } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<%= link_to 'Добавить карточку в колоду', new_deck_card_path(@deck) %><br>
<%= link_to 'К списку колод', decks_path(@deck) %>
