<p>
  <strong>Текст:</strong>
  <%= @card.original_text %>
</p>

<p>
  <strong>Перевод:</strong>
  <%= @card.translated_text %>
</p>

<p>
  <strong>Дата ревью:</strong>
  <%= @card.review_date %>
</p>

<%= image_tag @card.avatar.url(:medium), id: 'avatar' if @card.avatar? %>
<br><br>

<%= link_to 'К списку карточек', deck_cards_path(@card.deck_id), class: 'btn btn-primary' %>
<%= link_to 'Изменить', edit_card_path, class: 'btn btn-primary' %>
<%= link_to 'Удалить', card_path,
              method: :delete,
              data: { confirm: 'Вы уверены?' }, class: 'btn btn-primary' %>
