<p id="notice"><%= notice %></p>

<h1><%= t('cards.decks') %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t('cards.deck_title') %></th>
      <th><%= t('cards.current') %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @decks.each do |deck| %>
      <tr>
        <td><%= deck.title %></td>
        <td><%= check_box_tag('current_deck', '', current_user.current_deck == deck, disabled: true) %></td>
        <td><%= link_to t('forms.open'), deck %></td>
        <td><%= link_to t('forms.edit'), edit_deck_path(deck) %></td>
        <td><%= link_to t('forms.destroy'), deck, method: :delete, data: { confirm: t('forms.sure') } %></td>
        <% unless current_user.current_deck == deck %>
          <td><%= link_to t('cards.current'), set_current_deck_user_path(current_user, deck), method: :post %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('cards.current_deck_reset'), remove_current_deck_user_path(current_user), method: :post %><br>
<%= link_to t('cards.add_new_deck'), new_deck_path %>
