<!DOCTYPE html>
<html>
  <head>
    <title>Флэшкарточкер</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% flash.each do |type, msg| %>
      <%= content_tag :span, msg, class: "#{type}", id: "puffly" %>
    <% end %>

    <ul class="nav justify-content-center">
      <li class="nav-item">
        <%= link_to t('app.title'), root_path, class: 'nav-link active' %>
      </li>
      <li class="nav-item">
        <%= link_to t('cards.decks'), decks_path, class: 'nav-link' %>
      </li>
      <% if current_user %>
        <li class="nav-item">
          <%= link_to t('users.profile_change'), edit_user_path(current_user.id), class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t('users.log_out'), :logout, method: :post, id: 'user_log_out_btn', class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to t('users.registration'), new_user_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t('users.log_in'), :login, id: 'user_log_in_btn', class: 'nav-link' %>
        </li>
      <% end %>
    </ul>

    <section id="container">

      <header class="clearfix">
        <h1><%= t('app.title') %></h1>
      </header>

      <section>
        <%= yield %>
      </section>

    </section>
   
    <% if current_user.nil? %>
      <ul class="nav fixed-bottom justify-content-center">
        <% I18n.available_locales.each do |locale| %>
          <li class="nav-item">
            <%= link_to locale, { locale: locale }, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    <% end %>
    
  </body>
</html>
