<!DOCTYPE html>
<html>
  <head>
    <title>Флэшкарточкер</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>   

    <% flash.each do |type, msg| %>
      <%= content_tag :span, msg, class: "#{type}", id: "puffly" %>
    <% end %>

    <ul class="nav justify-content-center">
      <li class="nav-item">
        <%= link_to 'Флэшкарточкер', root_path, class: 'nav-link active' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Все карточки', cards_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link2</a>
      </li>
    </ul>

    <section id="container">

      <header class="clearfix">
        <h1>Флэшкарточкер</h1>
        <ul class="navigation-links">
          <li><%= link_to 'Все карточки', cards_path %></li>
          <li><%= link_to 'Добавить карточку', new_card_path %></li>
        </ul>
      </header>

      <section>
        <%= yield %>
      </section>

    </section>
  </body>
</html>
